<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNC Panel</title>
    <link rel="stylesheet" href="/mncPanel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="sidebar">
            <div class="official_logo">
                <img src="/official_logo.png" alt="">
            </div>
            <div class="sideButton" id="unsolvedcomps_button">
                <button onclick="location.href = '/unsolvedcomps'" id="unsolvedcomps_button_text">UNSOLVED COMPLAINTS</button>
            </div>
            <div class="sideButton" id="successcomps_button">
                <button onclick="location.href = '/successcomps'" id="successcomps_button_text">SUCCESSFULL COMPLAINTS</button>
            </div>
            <div class="sideButton" id="failedcomps_button">
                <button onclick="location.href = '/failedcomps'" id="failedcomps_button_text">FAILED COMPLAINTS</button>
            </div>
            <div class="sideButton" id="rescomps_button">
                <button onclick="location.href = '/rescomps'" id="rescomps_button_text">RESPONDED COMPLAINTS</button>
            </div>
            <div class="sideButton" id="findmnccomps_button">
                <button onclick="location.href = '/findmnccomps'" id="findmnccomps_button_text">FIND COMPLAINTS</button>
            </div>
            <div class="sideButton" id="mystats_button">
                <button onclick="location.href = '/mystats'" id="mystats_button_text">STATISTICS OF YOUR AREA</button>
            </div>
            <div class="sideButton" id="logout_button">
                <form action="adminLogout" method="post">
                    <button type="submit">LOG OUT</button>
                </form>
            </div>
        </div>
        <div class="workArea">
            {{#if message}}
                    <div class="message">
                        <p class="messageText"><i class="fa-solid fa-circle-check" style="color: #54d24b;"></i> &nbsp {{sms}}</p>
                    </div>
                    <div class="bar">
                        <div class="in"></div>
                    </div>
            {{/if}}
            {{#if byDefault}}
                <div class="default">
                    <img src="welcome.png" alt="">
                    <p>Ready to solve complains <span class="admin_name">{{currentAdmin}}</span> Municipal Co-Operation</p>
                </div>
            {{/if}}
            {{#if unsolvedComp}}
                <div class="table">
                        <div class="row header">
                            <div class="cell">
                                Complaint ID
                            </div>
                            <div class="cell">
                                Title
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Action
                            </div>
                        </div>
                        {{#each unsolvedcomplaint}}
                            <div class="row">
                                <div class="cell" data-title="Complaint ID">
                                    {{this._id}}
                                </div>
                                <div class="cell" data-title="Title">
                                    {{this.complaint_topic}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{this.area}}
                                </div>
                                <div class="cell" data-title="Action">
                                    <button type="submit" onclick="location.href = '/complaint/{{this._id}}'" class="open_button">OPEN</button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
            {{/if}}
            {{#if successComp}}
                <div class="table">
                        <div class="row green">
                            <div class="cell">
                                Complaint ID
                            </div>
                            <div class="cell">
                                Title
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Action
                            </div>
                        </div>
                        {{#each completedcomplaint}}
                            <div class="row">
                                <div class="cell" data-title="Complaint ID">
                                    {{this._id}}
                                </div>
                                <div class="cell" data-title="Title">
                                    {{this.complaint_topic}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{this.area}}
                                </div>
                                <div class="cell" data-title="Action">
                                    <button type="submit" onclick="location.href = '/complaint/{{this._id}}'" class="open_button">OPEN</button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
            {{/if}}
            {{#if failComp}}
                <div class="table">
                        <div class="row red">
                            <div class="cell">
                                Complaint ID
                            </div>
                            <div class="cell">
                                Title
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Action
                            </div>
                        </div>
                        {{#each uncompletedcomplaint}}
                            <div class="row">
                                <div class="cell" data-title="Complaint ID">
                                    {{this._id}}
                                </div>
                                <div class="cell" data-title="Title">
                                    {{this.complaint_topic}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{this.area}}
                                </div>
                                <div class="cell" data-title="Action">
                                    <button type="submit" onclick="location.href = '/complaint/{{this._id}}'" class="open_button">OPEN</button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
            {{/if}}
            {{#if resComp}}
                <div class="table">
                        <div class="row niceblue">
                            <div class="cell">
                                Complaint ID
                            </div>
                            <div class="cell">
                                Title
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Current Status
                            </div>
                            <div class="cell">
                                Action
                            </div>
                        </div>
                        {{#each respondedcomplaint}}
                            <div class="row">
                                <div class="cell" data-title="Complaint ID">
                                    {{this._id}}
                                </div>
                                <div class="cell" data-title="Title">
                                    {{this.complaint_topic}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{this.area}}
                                </div>
                                <div class="cell" data-title="Current Status">
                                    {{this.status}}
                                </div>
                                <div class="cell" data-title="Action">
                                    <button type="submit" onclick="location.href = '/complaint/{{this._id}}'" class="open_button">OPEN</button>
                                </div>
                            </div>
                        {{/each}}
            {{/if}}
            {{#if findComp}}
                <p>Find Complaints</p>
                <div class="find">
                    <form action="/findComplaint" method="post">
                        <label for="dateToFind">ENTER DATE - </label>
                        <input type="date" name="dateToFind" id="dateToFind" required>
                        <button type="submit" class="dateToFindButton">FIND</button>
                    </form>
                </div>
                <div class="find_date">{{findDate}}</div>
                    {{#if brougthList}}
                        <div class="table find_table">
                        <div class="row green">
                            <div class="cell">
                                Complaint ID
                            </div>
                            <div class="cell">
                                Title
                            </div>
                            <div class="cell">
                                Area
                            </div>
                            <div class="cell">
                                Status
                            </div>
                            <div class="cell">
                                Action
                            </div>
                        </div>
                        {{#each cDetails}}
                            <div class="row">
                                <div class="cell" data-title="Complaint ID">
                                    {{this._id}}
                                </div>
                                <div class="cell" data-title="Title">
                                    {{this.complaint_topic}}
                                </div>
                                <div class="cell" data-title="Area">
                                    {{this.area}}
                                </div>
                                <div class="cell" data-title="Status">
                                    {{this.status.[0]}}
                                </div>
                                <div class="cell" data-title="Action">
                                    <button type="submit" onclick="location.href = '/complaint/{{this._id}}'" class="open_button">OPEN</button>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
            {{/if}}
            {{#if myStats}}
                <div class="chart">
                    <div class="chart_heading">YOUR AREA COMPLAINS ANALYSIS CHART</div>
                    <canvas id="myChart"></canvas>
                </div>

                <div class="urAreaStats">
                    <input type="text" id="cura" value={{cura}}>
                    <input type="text" id="curr" value={{curr}}>
                    <input type="text" id="curp" value={{curp}}>
                    <input type="text" id="curc" value={{curc}}>
                    <input type="text" id="curuc" value={{curuc}}>
                    <input type="text" id="curf" value={{curf}}>
                    <input type="text" id="curres" value={{curres}}>
                </div>

            {{/if}}
            {{#if complaintInfo}}
                    <div class="complaintMainDiv">
                        {{#with cDetails}}
                        <div class="complaint_detail_text">COMPLAINT DETAILS</div>
                        <div class="full_complaint_detail">
                        <div class="complaintImage">
                            <img src={{cam_proof}} alt="" srcset="">
                        </div>
                        <div class="complaintInDetail">
                            <div class="ID">
                                <span class="idValue">#{{_id}}</span>
                            </div>
                            <div class="complaintDate">
                                <span class="dateKey key">Date: </span><span class="dateValue">&nbsp {{date}}</span>
                            </div>
                            <div class="complaintTopic">
                                <span class="topicKey key">Subject: </span><span class="topicValue">&nbsp {{complaint_topic}}</span>
                            </div>
                            <div class="complaintDescription">
                                <span class="descriptionKey key">Description: </span><br><span class="descriptionValue">{{complaint_desc}}</span>
                            </div>
                            <div class="complaintArea">
                                <span class="areaKey key">Area: </span><span class="areaValue">&nbsp {{area}}</span>
                            </div>
                             <div class="complaintAddress">
                                <span class="addressKey key">Address: </span><span class="addressValue">&nbsp {{street_adress}}</span>
                            </div>
                        </div>
                        </div>
                        </div>
                        {{/with}} 
                        {{#if complainToBeSolved}}
                        {{#with cDetails}}
                        <p>hi</p>
                        <div class="sendResponse">
                            <button class="responseButton" onclick="responseVisible()">Send Response</button>
                            <div id="responseSubmit">
                                <form action="/mncResponse/{{_id}}" method="post">
                                    <input type="file" multiple = false onchange="createURL()" id="add_pdf" name="add_pdf" required>
                                    <input type="text" value="" id="pdf_proof" name="pdf_proof" style="display: none;">
                                    <button type="submit" class="submitResponseButton">SUBMIT FILE</button>
                                </form>
                            </div>
                        </div>
                        {{/with}}
                        {{/if}}                 
                    </div>
                {{/if}}           
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<script>

    //Pie Chart...
    function getChart(){
        var xValues = ["Accepted", "Responded", "Completed", "Uncompleted", "Failed", "Rejected", "Pending"];
        var yValues = [document.getElementById('cura').value, document.getElementById('curres').value, document.getElementById('curc').value, document.getElementById('curuc').value, document.getElementById('curf').value, document.getElementById('curr').value, document.getElementById('curp').value];
        var barColors = [
        "#27ae60",
        "#00aba9",
        "#39ae27",
        "#de2121",
        "#de8921",
        "#ea6153",
        "#ffff00"
        ];

        new Chart("myChart", {
            type: "pie",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            }
        });
    }

    var currentArr = window.location.href.split('/');
    var current = currentArr[currentArr.length - 1];
    if(current == 'unsolvedcomps'){
        document.getElementById('unsolvedcomps_button_text').style.color = 'whitesmoke';
        document.getElementById('unsolvedcomps_button').style.backgroundColor = 'black';
    }
    else if(current == 'successcomps'){
        document.getElementById('successcomps_button').style.backgroundColor = 'black';
        document.getElementById('successcomps_button_text').style.color = 'whitesmoke';
    }
    else if(current == 'failedcomps'){
        document.getElementById('failedcomps_button').style.backgroundColor = 'black';
        document.getElementById('failedcomps_button_text').style.color = 'whitesmoke';
    }
    else if(current == 'findcomps' || current == 'findComplaint'){
        document.getElementById('findcomps_button').style.backgroundColor = 'black';
        document.getElementById('findcomps_button_text').style.color = 'whitesmoke';
    }
    else if(current == 'rescomps'){
        document.getElementById('rescomps_button').style.backgroundColor = 'black';
        document.getElementById('rescomps_button_text').style.color = 'whitesmoke';
    }
    else if(current == 'mystats'){
        getChart();
        document.getElementById('mystats_button').style.backgroundColor = 'black';
        document.getElementById('mystats_button_text').style.color = 'whitesmoke';
    }

    function responseVisible(){
       document.getElementById('responseSubmit').style.visibility = 'visible';
       document.getElementsByClassName('responseButton')[0].style.display = 'none';
    }

    setTimeout(function() { 
    document.getElementsByClassName('message')[0].style.display = 'none';
    document.getElementsByClassName('bar')[0].style.display = 'none';
    }, 5000);

    function createURL(){
        var Element = document.getElementById("add_pdf");
        const url = URL.createObjectURL(Element.files[0]);
        const selectedfile = Element.files;
        if (selectedfile.length > 0) {
            const [imageFile] = selectedfile;
            const fileReader = new FileReader();
            fileReader.onload = () => {
                const srcData = fileReader.result;
                console.log(srcData);
                document.getElementById('pdf_proof').value = srcData;
            };
            fileReader.readAsDataURL(imageFile);
        }
    }
</script>
</html>